<div class="m-4 border border-2 border-primary">
  <div class="bg-info text-center">app.component</div>
  <div class="p-2 d-flex flex-column gap-2">
    <h1>Welcome to Angular!</h1>
    <p>
      This is the <span class="fw-bold">{{ title }}</span> application
    </p>

    <div class="row">

      <app-user-input></app-user-input>


    </div>

    <!-- <div class="row justify-content-center">
      <div class="d-flex col-6 justify-content-center"><app-even-length-words></app-even-length-words></div>
      <div class="d-flex col-6 justify-content-center"><app-odd-length-words></app-odd-length-words></div>
    </div> -->
  </div>
</div>